<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteBase /
 
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [QSA,L]
</IfModule>

# Do not change/modify this file without prior knowlege, if changed first check the application works fine.